/* ====== General Setup ====== */
h1, h2, h3, h4, h5, h6, p, a, button {
    font-family: 'Montserrat', sans-serif;
}
body {
    background: linear-gradient(to bottom, #b9dff1, #e7f4fa);
}

/* ====== Navbar ====== */
.navbar {
    background-color: #0e1036;
}
.logo-img {
    max-height: 60px;
    border-radius: 10px;
}
.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 600;
    margin: 0 15px;
}
.navbar-nav .nav-link:hover {
    color: #02ddff;
}
.account a {
    color: #ffffff;
    font-weight: 600;
    margin-left: 20px;
}
.account a:hover {
    color: #02ddff;
}






/* ITEM PAGE Specific Styles */


/* Button Styling for Item List */
.table .btn {
    width: 80px;
    padding: 5px;
}

.table .btn-success {
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;
}

.table .btn-danger {
    background-color: #dc3545;
    color: white;
    border: 1px solid #dc3545;
}

.table .btn-success:hover {
    background-color: #218838;
}

.table .btn-danger:hover {
    background-color: #c82333;
}

/* Badge Status Styling */
.table .badge-success {
    background-color: #28a745;
    color: white;
}

.table .badge-warning {
    background-color: #ffc107;
    color: white;
}

.table .badge-danger {
    background-color: #dc3545;
    color: white;
}

.table th, .table td {
  padding: 14px 16px;
  vertical-align: middle;
}

.btn i {
  margin-right: 6px;
}

.table img {
  border-radius: 6px;
}

.container-fluid {
    margin-top: 20px;
}

/* Table Styling for Rent List */
.table th, .table td {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.table th {
    background-color: #1f2b43;
    color: white;
}

.table td {
    background-color: #f8f9fc;
}

/* Button Styling for Rent Actions */

.table .btn {
    width: 80px;
    padding: 5px;
}

.table .btn-success {
    background-color: #28a745;
    color: white;
    border: 1px solid #28a745;
}

.table .btn-danger {
    background-color: #dc3545;
    color: white;
    border: 1px solid #dc3545;
}

.table .btn-success:hover {
    background-color: #218838;
}

.table .btn-danger:hover {
    background-color: #c82333;
}

/* Styling for status */
.badge-success {
    background-color: #28a745;
    color: white;
}

.badge-warning {
    background-color: #ffc107;
    color: black;
}

.card-body {
    background-color: #e6f2ff;
}


/* ====== Footer ====== */
.footer {
    background-color: #0e1036;
    color: #ffffff;
    font-size: 14px;
    margin-top: auto;
}
.footer p {
    margin: 0;
}